.logo-small-screen {
	display: none;
}

@media (min-width: 640px) {
	/* .input-large-screen {
		display: block;
	}
	.search-large-screen {
		display: none;
	} */
	.user-link-large-screen {
		display: flex;
	}
	.profile-image-large-screen {
		display: none;
	}
	.logo-large-screen {
		display: block;
	}
	.logo-small-screen {
		display: none;
	}
}

@media (max-width: 639px) {
	/* .input-large-screen {
		display: none;
	}
	.search-large-screen {
		display: block;
	} */
	.user-link-large-screen {
		display: none;
	}
	.profile-image-large-screen {
		display: flex;
	}
	.logo-large-screen {
    display: none;
  }
  .logo-small-screen {
    display: block;
  }
}
