@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(90deg, rgba(242,43,150,1) 0%, rgba(93,192,247,1) 50%, rgba(252,144,115,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pers{
  background: linear-gradient(90deg, rgba(242,43,150,1) 0%, rgba(93,192,247,1) 50%, rgba(252,144,115,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}